<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>451745791624-246tle261mf3jqa2ni4aufh1amd7ctlg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.451745791624-246tle261mf3jqa2ni4aufh1amd7ctlg</string>
	<key>API_KEY</key>
	<string>AIzaSyCJPoFrabUL70hsyPxyLSO2nR5pq4JcV9o</string>
	<key>GCM_SENDER_ID</key>
	<string>451745791624</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fouliex.FlashChat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-fouliex</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-fouliex.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451745791624:ios:b1e7eed344f3d9f4</string>
	<key>DATABASE_URL</key>
	<string>https://flashchat-fouliex.firebaseio.com</string>
</dict>
</plist>